body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 25);
    color: white;
    overflow-x: hidden;
}

html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.category-row{
    width: 100%;
    overflow: hidden;
}

main{
    padding: 5vw;
    width: 100%;
    box-sizing: border-box;
}

.movies-cards-container{
    display: flex;
    gap: 25px;
}

.movie-card img{
    width: 21vw;
    max-height: 450px;
}